:root {
  --md-primary-fg-color: rgb(0, 62, 120);
  --md-accent-fg-color:  rgb(128, 0, 0);
}

.md-header,.md-footer-nav {
    background-image: linear-gradient(to right, rgb(128, 0, 0) 0%, rgb(50, 50, 50) 24%, rgb(0, 62, 120) 100%);
}